@charset "UTF-8";

/*
em html id é # (só pode um elemento)
em html class é . (pode se usar vários elementos)
*\

body{
    background-color: rgba(0, 250, 187, 0.288);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(5, 160, 39);
}
h2{
    color: rgb(0, 183, 255);
}

#principal{
    text-align: center;
    color: aliceblue;
}

.basico{
    color: black;
}

.intermediario{
    color: blueviolet;
}
.avançado{
    color: darkorange;
}